{% extends 'layout.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}

{% block title %}
Chat
{% endblock %}

{% block content %}
<body>
    {% for message in messages %}
    <div class="message-container">
        <div><strong>User:</strong> {{ message.user_message }}</div>
        <div><strong>CHAT:</strong> {{ message.bot_response }}</div>
    </div>
    {% endfor %}

    <form action="{% url 'send_message' %}" method="post">
        {% csrf_token %}
        <textarea name="user_message" placeholder="Type your message here..."></textarea>
        <br>
        <input type="submit" value="Send">
    </form>
</body>
{% endblock %}
