{% extends 'layout.html' %}
{% load static %}
{% block title %}
    Football
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/ranking.css' %}">
{% endblock %} 
    
{% block content %}
        <h1> Premier League LIVE Standings </h1>
        <table>
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Club</th>
                    <th>Played</th>
                    <th>Won</th>
                    <th>Drawn</th>
                    <th>Lost</th>
                    <th>Goal Difference</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                {% for pos in standing %}
                <tr>
                    <td>{{ pos.Rank }}</td>
                    <td>{{ pos.Club }}</td>
                    <td>{{ pos.Played }}</td>
                    <td>{{ pos.Wins }}</td>
                    <td>{{ pos.Draws }}</td>
                    <td>{{ pos.Losses }}</td>
                    <td>{{ pos.Goal_difference }}</td>
                    <td>{{ pos.Points }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
