<!DOCTYPE html>
{% extends 'layout.html' %}
{% load static %}
{% block title %}
    Football
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/team.css' %}">
{% endblock %}
    
{% block content %}
        {% if clubs %}
            {% for club in clubs %}
                {% if club != '0' and club != '1' %}
                    <div class="card">
                        <div class="card-content">
                            <a href="{% url 'team' club%}">{{ club }}</a>
                        </div>
                    </div> 
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No clubs available.</p>
        {% endif %}
{% endblock %}
